{% load static %}
<html>
    <head>
        <title>あの子に似てるAV女優</title>
        <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/detect.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">あの子に似てる<span style="color:#e966fe";>AV</span>女優</a></h1>
        </div>

    
        <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="picture">
            {{ form }}
            </div>
            <br>
            <div>
            <input class="button" type="submit" name="submit" value="女優を検索">
            </div>
        </form>
    </body>
</html>