{% load static %}
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135627645-5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-135627645-5');
        </script>
        <title>あの子に似てるAV女優</title>
        <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/detect.css' %}">
    </head>
    <body>
        <div class="all">
        <div>
            <h1><a href="/">あの子に似てる<span style="color:#ff4da6";>AV</span>女優</a></h1>
        </div>

    
        <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="picture">
            {{ form }}
            </div>
            <br>
            <div>
            <input class="button" type="submit" name="submit" value="女優を検索">
            </div>
        </form>
        <div class="text">
        <p>似ているAV女優をAIが自動で探します。</p>
        <p>知り合いのあの子や好きな芸能人の画像など、アップロードして検索ボタンを押してみてください。</p>
        </div>
        </div>
    </body>
</html>